html{
	margin:0;
	padding:0;
	height: 100%;
	/*background:#132131;*/
	font-family: Arial,sans-serif;
	/*color: #FFF;*/
}

body {
    margin: 0;
    padding: 0; 
	height: 100%;
	overflow-y:scroll;
}

.jvectormap-region {
    stroke-width: .05px;
}

#pagebackground{
	/*background:#132131;*/
	height:100%;
	margin-top:0px;
	padding:0px;
	min-height:100%;
}

#pagewrapper{
	/*background:#132131;*/
	height:100%;
	margin-top:0px;
	padding:0px;
	width:1366px;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1366px;
    height:868px;
}

#headerbar{
	text-align: center;
	width:100%;
	height: 72px;
	margin-bottom: 20px;
	background: #111;
	border-bottom: 2px solid #CCC;
	z-index: 3;
}

#headercontent {
	width: 1366px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#mapcontainer{
	background:#FFF;
	width:1280px;
}

#map1{
	width:960px;
	height:595px;
	display:block;	
	float:left;
	margin-left:5px;
	/*border: 1px solid #CCC;*/
}

#containertop {
	height:595px;
}

#chartwrapper{
	width: 305px;
	float: left;
	border-radius: 5px;
	margin-left: 5px;
	height:595px;
	text-align: center;
	top: -2px;
}

#chart {
	width:305px;
	margin-bottom: 4px;
	margin-top:12px;
	margin-left: 12px;
	margin-right: 12px;
	display:block;
}

#chart2 {
	display:block;
	float: left;
	height: 440px;
	padding-top: 12px;
	width: 920px;
}

text {
	font-size: 85%;
}

textarea {
	display:none;
}

#timeline {
	/*width: 960px;*/
	clear: none;
	float: left;
	padding-left: 46px;
	padding-bottom:8px;
	width:100%;
	/*margin-top: -20px;*/
}

#footer {
	clear: both;
	float:both;
	margin-bottom: 20px;
	padding-bottom: 50px;
	padding-top: 20px;
	background: #111;
}

#footerbody {
	width: 1366px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#mapcontrols {
	display: inline;
	float: right;
}

label {
	font-size:14px;
}

#sliderdescription:
{
	margin-top:0px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 0px;
}

#amount {
	border: 0; 
	color: rgb(255, 255, 197); 
	font-weight: bold;
	background: rgb(44, 44, 44);
	text-align:center;
	padding:2px;
	}

#slider-range{
	margin-top:0px;
	margin-left: 8px;
	width:840px;
}

h1 {
	margin: 3px 0;
	font-size: 1.5em;
    /*color: #fff;*/
}

#timedisplay {
	margin: auto;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-weight: bold;
	font-size: 16px;
	padding:2px;
	display:inline;
}

.charttitle {
	margin: auto;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-weight: bold;
	font-size: 16px;
	padding:2px;
	display:inline;
}

h3 {
	font-size: 12px;
	/*color:#EEE;*/
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left:2px;
	display:inline;
}

span {
/*	font-size: 0.6em;*/
	/*font-style: italic;*/
	color: #111;
}

#tablecontainer{
	position:relative;
	margin:20px;
	top:10px;
	left:10px;
}

#videodesc{
	margin-left:15px;
}

#video {
	margin:15px auto;
	text-align:center;
}

#toolbar {
	padding: 4px;
}
/* support: IE7 */
*+html #toolbar {
	display: inline;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#radio{
	margin-top:5px;
	display:inline-block;
	margin-left:100px;
	margin-right:50px;
}

#rewind{
	margin-left:50px;
}
#mapcontrols
{
	margin-right:100px;
	margin-top:5px;
}
