/* continent color */
.southamerica
{
	fill: #71cf90;
	fill-opacity: 1;
	stroke:10;
	stroke: black;
}

textarea {
	visibility: hidden;
}

h1 {
	font-family: Garamond,serif;
	font-size: 200%
}

#title {
	display: inline-block;
	width: 800px;
}

#legend {
	display: inline-block;
	width: 600px;
	height: 30px;
	background: -webkit-linear-gradient(left, #E5ECF0 0%,#163C51 100%); /* Chrome10+,Safari5.1+ */
}

#left, #right {
	display: inline-block;
	font-size: 100%
}

