html{
	margin:0;
	padding:0;
}
body {
    margin: 0;
    padding: 0; 
}
div#headerbar{
	text-align: center;
	width:100%;
	padding-top: 8px;
}
#pagebackground{
	background:#132131;
	height:100%;
	margin-top:0px;
	padding:0px;
	width:1366px;
}
#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1366px;
    height:768px;
}
#mapcontainer{
	background:#FFF;
	width:1280px;
}
#map1{
	width:1050px;
	height:650px;
	display:block;	
	float:left;
}

#piechartwrapper{
	width: 305px;
	float: left;
	background:#FFF;	
	border-radius: 10px;
	margin-left: 5px;
	/*opacity: 0.5;*/
}
#chart1, #chart2, #chart3{
	width:305px;
	height:600px;
	margin-left:4px;
	margin-bottom: 4px;
	padding:12px;
	display:block;
	float:left;
}

text {
	font-size: 90%;
}

h1 {
    font-size: 20px;
    color: #fff;
	font-family: Helvetica, Arial,sans-serif;
}

textarea {
	visibility: hidden;
}

#footer {
	clear: both;
	float:both;
	display:block;
}