html{
	margin:0;
	padding:0;
}
body {
    margin: 0;
    padding: 0; 
}
div#headerbar{
	text-align: center;
	width:100%;
	padding-top: 8px;
}
#pagebackground{
	background:#bcbcbc;
	height:100%;
	margin-top:0px;
	padding:0px;
	width:1366px;
}
#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1366px;
    height:768px;
}
#mapcontainer{
	background:#FFF;
	width:1280px;
}
#map1{
	width:1050px;
	height:650px;
	display:block;
	float:left;
}

#piechartwrapper{
	width: 316px;
	float: left;
}
#chart1, #chart2, #chart3{
	width:300px;
	height:315px;
	margin-left:4px;
	margin-bottom: 4px;
	padding:4px;
	background:#FFF;	
	display:block;
	float:left;
}

h1 {
    font-size: 20px;
		font-family: Helvetica, Arial,sans-serif;
}

textarea {
	visibility: hidden;
}

#footer {
	clear: both;
	float:both;
	display:block;
}